# Ignore node_modules folder
cw_frontend/node_modules/

# Ignore Python backend folders
__pycache__/
cw_backend/data/difference_analysis/
cw_backend/data/Output/
cw_backend/data/Results/
cw_backend/data/svg_folder/


# Ignore Download files
cw_backend/data/node_input/

#Ignore support folders
.vscode/
.idea/